<div class="login-form">
  <h3 class="login-form-title">Editing User</h3>

    
    <%= render 'form', user: @user %>

    <button class="form-btn">
      <%= link_to 'Show', @user %>
    </button>
    
    <button class="form-btn">
      <%= link_to 'Back', users_path %>
    </button>

  </div>