
<div class="login-form">
  <h3 class="login-form-title">New Account</h3>


  <%= render 'form', user: @user %>

  
  <button class="form-btn">
    <%= link_to 'Back', users_path %>
  </button>
</div>