<%= content_tag "div", id: "vote-#{micropost.id}" do %> 
  <%= link_to vote_micropost_path(micropost), method: :post, remote: true do %>
    <% if current_user.voted_up_on? micropost %>
      <i class="far fa-thumbs-up" style="color: green;"></i>
      <span>unvote</span>
      <% else %>
      <i class="far fa-thumbs-up"></i>
      <span>vote!</span>
    <% end %>
  <% end %>
<% end %>
